@font-face {
    font-family: 'rokkitt';
    src: url('../global-copy/fonts/rokkitt/rokkitt-bold.eot');
    src: url('../global-copy/fonts/rokkitt/rokkitt-bold.eot?#iefix') format('embedded-opentype'),
         url('../global-copy/fonts/rokkitt/rokkitt-bold.woff2') format('woff2'),
         url('../global-copy/fonts/rokkitt/rokkitt-bold.woff') format('woff'),
         url('../global-copy/fonts/rokkitt/rokkitt-bold.ttf') format('truetype'),
         url('../global-copy/fonts/rokkitt/rokkitt-bold.svg#rokkittbold') format('svg');
    font-weight: bold;
    font-style: normal;

}
@font-face {
    font-family: 'rokkittlight';
    src: url('../global-copy/fonts/rokkitt/rokkitt-light.eot');
    src: url('../global-copy/fonts/rokkitt/rokkitt-light.eot?#iefix') format('embedded-opentype'),
         url('../global-copy/fonts/rokkitt/rokkitt-light.woff2') format('woff2'),
         url('../global-copy/fonts/rokkitt/rokkitt-light.woff') format('woff'),
         url('../global-copy/fonts/rokkitt/rokkitt-light.ttf') format('truetype'),
         url('../global-copy/fonts/rokkitt/rokkitt-light.svg#rokkittlight') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'rokkittmedium';
    src: url('rokkitt-medium.eot');
    src: url('../global-copy/fonts/rokkitt/rokkitt-medium.eot?#iefix') format('embedded-opentype'),
         url('../global-copy/fonts/rokkitt/rokkitt-medium.woff2') format('woff2'),
         url('../global-copy/fonts/rokkitt/rokkitt-medium.woff') format('woff'),
         url('../global-copy/fonts/rokkitt/rokkitt-medium.ttf') format('truetype'),
         url('../global-copy/fonts/rokkitt/rokkitt-medium.svg#rokkittmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'rokkitt';
    src: url('../global-copy/fonts/rokkitt/rokkitt-regular.eot');
    src: url('../global-copy/fonts/rokkitt/rokkitt-regular.eot?#iefix') format('embedded-opentype'),
         url('../global-copy/fonts/rokkitt/rokkitt-regular.woff2') format('woff2'),
         url('../global-copy/fonts/rokkitt/rokkitt-regular.woff') format('woff'),
         url('../global-copy/fonts/rokkitt/rokkitt-regular.ttf') format('truetype'),
         url('../global-copy/fonts/rokkitt/rokkitt-regular.svg#rokkittregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'rokkittthin';
    src: url('../global-copy/fonts/rokkitt/rokkitt-thin.eot');
    src: url('../global-copy/fonts/rokkitt/rokkitt-thin.eot?#iefix') format('embedded-opentype'),
         url('../global-copy/fonts/rokkitt/rokkitt-thin.woff2') format('woff2'),
         url('../global-copy/fonts/rokkitt/rokkitt-thin.woff') format('woff'),
         url('../global-copy/fonts/rokkitt/rokkitt-thin.ttf') format('truetype'),
         url('../global-copy/fonts/rokkitt/rokkitt-thin.svg#rokkittthin') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
    font-family: "rokkitt", serif;
    font-size: 2.5em;
    
    width: 100vh;
    max-width: 85vw;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-style: none;
}

img {
    width: 50%;
    max-width: 50%;
    margin-left: 25%;
    margin-bottom: 1rem;
}

a {
    text-decoration: none;
    color:hsl(215, 100%, 75%);
}

a:hover {
    color:hsl(215, 34%, 53%);
}

li {
    margin-left: 5%;
    margin-top: 0.5em;
}

h1 {
    max-height: 90vh;
    margin: auto;
    border-style: none;
    
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
}



input {
    width: 7vh;
    height: 7vh;
    
    position: fixed;
    top: 50vh;
    
    outline: none;
    border-style: none;
    border-radius: 50%;
    cursor: pointer;
    
    background-color: #fcfcfc;
    background-size: 4vh;
    background-repeat: no-repeat;
    background-position: center;
    
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.19);
}

input:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.nextButton {
    background-image: url("../assets/next.png"); 
    
    left: calc(98vw - 7vh);
}

.previousButton {
    background-image: url("../assets/previous.png"); 
    
    left: 2vw;
}